body{
    padding: 0px;
    left:0px;
    position: fixed; 

}
.vts{
    left:15%;
    margin:0px;
    padding: 0px;
    position:relative;
    width:70%;
  
  }

.container{
    height: 50%;
    width: 1080px;
    padding: 10px;
    background-color: #0093DD;

}

.contact2{
    margin-top:60%;
    width:110%;
  
}

.contact{
    margin-top:40%;
    width:110%;
  
}

