html, body {
    padding: Opx;
    height: 1920px;
    width:1080px;
    display:relative;
    margin-top: 50px;
    }
    .search-wrapper{
        display:flex;
        flex-direction:column;
        gap: .25rem;
  
    }
   #search{
        width:30%;
        height:60px;
   }

    .user-cards{
        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
      
        margin-top:1rem;

    }
    .card > .headers{
        margin-bottom: .25rem
    }
    .card > .body{
        font-size: .8rem;
        color: #000;
        
    }
    .hide{
        display:none;
    }
  
    .search-cont{
        margin-top:7%;
        padding:15px;
    }
    .card{
        
        padding:15%;
   
        border:3px solid #00008B;
        background-color: #0093DD;
        color:#fff;
    }